/* Element styling for index.html */

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    background-color: #5a8241
}

header {
    background-color: #0b2c16;
    color: rgb(14, 173, 81);
    padding: 1ex;
    margin: 1ex;
}

header h1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    max-width: 50%;
    font-size: 200%;
}

header nav {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    text-align: right;
    padding: 1ex;
    font-size: 160%;
}

header nav a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(14, 173, 81);
}

header nav a:hover {
    color: #fff;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #446254;
    align-items: center;
    padding: 1ex;
    margin: 1ex;
}

main h2 {
    justify-content: center;
}

section {
    display: flex;
    align-items: center;
    margin: 15px;
}

section header {
    flex-basis: 20%;
    background-color: #99a47c;
    border: solid black 3px;
    border-radius: 15px;
    margin-right: 10px;
    text-align: right;
    padding: 15px;
    color: black;
}

p {
    font-weight: bold ;
}

a:visited {
    color: green;
}

a:hover {
    color: darkgreen;
}

div {
    display: flex;
    flex-wrap: wrap;
    background-color: #5d9e71;
    align-items: center;
    margin: 0.5em;
    padding: 15px;
    border: solid 2px;
    border-radius: 15px;
    margin-right: 30px;
}

div a {
    text-decoration: none;
}

div ul li {
    list-style-type: none;
    font-weight: bold;
}

div #proj1 {
    height: 350px;
    background-image: url(./assets/wp8460938.jpg);
}

div #proj2, #proj3, #proj4, #proj5 {
    height: 175px;
    background-image: url(./assets/wp8461062.jpg);
}

footer {
    text-align: center;
}

img {
    max-width: 20%;
}

/* Class IDs for the main body */
#work {
    display: flex;
    flex-wrap: wrap;
}

#work a {
    flex-basis: 50%;
    height: 150px;
    color: black;
}

#work a:hover {
    color: green;
}

#work a:visited {
    color: darkgreen;
}

/* Class selector for alignment of right side elements in the body */
.right {
    display: flex;
    flex: 80%;
}

.parent {
    display: flex;
    width: 100%;
    flex-basis: calc(100% - 1ex);
    padding: 1ex;
    margin: 1ex;
    align-items: center;
    justify-content: center;
}


  /* Underline From Left CSS effect from hover.css courtesy of https://ianlunn.github.io/Hover/ */
/* Underline From Left */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #2098D1;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }

  /* Media tag added for responsive design */
  @media only screen and (max-width: 768px) {
    
  }